
.search-field {
    margin-top: 10px;
    width: 80%;
}

.content-container {
    width: 100%;
    max-height: 70vh;
    overflow: auto;
    margin-top: 15px;
}

.list-container {
    padding: 10px;
    min-height: 50px;
    font-size: 12px;
    margin: 18px;
    border: 2px solid #222222;
}


